


  <div>
    <div class="header" >
      <h1>Pizza Place</h1>
    </div>

    <div class="cartTotal " >
      <strong>Total price</strong>  
      <span class="cartTotalPrice">0.00</span>
      <a href="#">
        <img src="shopping-cart.png" alt="">
      </a>
    </div>


    <div class="cart" >
      <h3>Add pizza</h3>
      <img src="shopping-cart.png" alt="">

        <div class="field">
          <div>
            Size
          </div>
          <select name="size" id="">
            <option value=""></option>
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
          </select>
        </div>
        <div class="field">
          <div>
            Flavour
          </div>
          <input type="text" name="flavour" id="">
        </div>
        <div>
          <div>
            smallTotalPrice
          </div>
          <input type="text" name="price" id="">
        </div>

        <div>
          <div>
            Description
          </div>
          <textarea name="description" >
          </textarea>
        </div>

        <div>
          
          <button>Add pizza</button>
        </div>



        
    </div>

<hr>


<div>

  <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>


</div>
