<h1>Edit pizza</h1>

<form action="/pizza/edit" method="post" >


	<div class="field" >
		<select name="size" id="">
			<option value="">Select option</option>
			<option value="">Small</option>
			<option value="">Medium</option>
			<option value="">Large</option>
		</select>
	</div>


	<div class="field">
		<label for="">Pizza name</label>
		<input type="text" name="name">
	</div>

	<div class="field">
		<label for="">Description</label>
		<textarea name="" id="" cols="30" rows="5"></textarea>
	</div>

	<div class="field">
		<input type="submit" value="Edit pizza">
	</div>


</form>