<h1>Pizza</h1>

<div class="space_below">
	<a href="/pizza/add">Add pizza</a>
</div>

<table>
	<tr>
		<th>Size</th>
		<th>Name</th>
		<th>Description</th>
	</tr>
	<t>
		<td>Size</td>
		<td>Name</td>
		<td>Description</td>
		<td>
			<a href="/pizza/edit/77">Edit</a>

		</td>
	</tr>
</table>